@use './variables';
@use './mixins';

* {
    box-sizing: border-box;
    font-family: variables.$sofia;
    margin: 0;
    padding: 0;
}

body {
    font-size: 8px;

    @include mixins.smallMinBreakPoint {
        font-size: 9px;
    }

    @include mixins.mediumMinBreakPoint {
        font-size: 12px;
    }

    @include mixins.largeMinBreakPoint {
        font-size: 15px;
    }

    @include mixins.xlMinBreakPoint {
        font-size: 17px;
    }

    @include mixins.xxlMinBreakPoint {
        font-size: 20px;
    }
}