// screen sizes
$screen-small: 567px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

//colors
$brown: #920303;
$white: #fff;
$black: #000;
$bodyDarkMode: #444;
$whiteHover: #bbb;
$brownHover: #490000;
$sliderBullet: #efefef;
$sliderMobileBg: rgba(255, 255, 255, 0.8);

//font sizes
$fSmall: 0.7em;
$fNormal: 1em;
$fBig: 1.3em;
$fHuge: 2.7em;

//fonts
@font-face {
    font-family: 'Sofia Pro';
    src: url("../assets/fonts/sofiapro.otf") format('opentype');
}

$sofia: 'Sofia Pro',
sans-serif;