// screen sizes
$screen-small: 567px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

//colors
$brown: #920303;
$white: #fff;
$black: #000;
$bodyDarkMode: #444;
$whiteHover: #bbb;
$brownHover: #490000;

//fonts
@font-face {
    font-family: 'Sofia Pro';
    src: url("../assets/fonts/sofiapro.otf") format('opentype');
}
$sofia: 'Sofia Pro', sans-serif;